[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
rope = "*"
pytest-cov = "*"
pytest-env = "*"

[packages]
faker = "*"
sqlalchemy = "*"

[requires]
python_version = "3.9"
